# Copy this file to .env for local testing.
# NEVER commit your real .env file.

ERP_USERNAME=
ERP_PASSWORD=

SECURITY_Q1=
SECURITY_A1=
SECURITY_Q2=
SECURITY_A2=
SECURITY_Q3=
SECURITY_A3=

GMAIL_ADDRESS=
GMAIL_APP_PASSWORD=
MAIL_TO=

NOTICE_MAIL_SUBJECT=IIT KGP CDC Notice Board Update
PLACEMENT_MAIL_SUBJECT=IIT KGP Placement/Internship Board Update
